<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWeb.styles.css" asp-append-version="true" />
</head>

<body>
    <style>
        /* Product layout example */
        .product-layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1200px;
        }

        .product {
            border: 1px solid #ccc;
            flex-basis: 30%;
            margin-bottom: 2rem;
            padding: 1rem;
        }

        .product-image {
            height: 300px;
            margin-bottom: 1rem;
            object-fit: cover;
            width: 100%;
        }

        .product-name {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        .product-price {
            font-weight: bold;
        }

        .product-description {
            margin-top: 1rem;
        }

        footer {
            height: 16.66666667vh; 

    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebBanHangn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/Admin/Portfolio">List Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/Admin/Portfolio/Add">Add Portfolio</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-primary" href="/Admin/Tag">List Tag</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="/Admin/PortfolioImage">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="/Admin/AspNetUser">List account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/Admin/Tag/Add">Add Tag</a>
                            </li>

                        }
                    </ul>
                    <partial name="_LoginPartial" />
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebBanHangn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
