@model LTrinhWebNhom3.Models.Tag

<h2>Delete Tag</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Are you sure you want to delete @Model.TagName?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-action="Index" class="btn btn-danger mt-4">Back to List</a>